---
// DATA //
const sectionContent = {
  title: "HIGHLIGHTS",
  highlights: [
    { title: "FREE to attend", caption: "(limited seats)" },
    { title: "90-minutes of hands-on learning", caption: "" },
    {
      title: "Learn AI the simple, practical way",
      caption: "(no experience required)",
    },
  ],
  highlight_section: {
    title:
      "Two Referral Discount codes per booking for exclusive Reliance Digital deals & offers",
    sub_title: "(redeem online or in-store)",
  },
};
---

<section class="container mx-auto py-20 text-center">
  <!-- Outlined Title -->
  <h2
    class="select-none text-center text-[64px] font-bold leading-none uppercase -mb-[4%]
           text-transparent [-webkit-text-stroke:2px_theme(colors.red.500)]
           md:text-[124px]
           lg:text-[165px]
           xl:text-[190px]"
    aria-hidden="true"
  >
    {sectionContent.title}
  </h2>

  <!-- Box - with 3 circles -->
  <div
    class="relative w-full bg-[url('/images/red-squares-bg.png')] bg-size-[400%] py-20 pb-38
    flex flex-col gap-20 items-center justify-center
    md:bg-size-[300%] lg:bg-size-[265%] lg:flex-row lg:flex-wrap
    xl:flex-nowrap xl:bg-size-[160%] xl:gap-26"
  >
    <!-- circles row -->
    {
      sectionContent.highlights.map((highlightItem) => (
        <div
          class="relative flex items-center justify-center text-center
        lg:w-[46%] xl:w-auto"
        >
          {/* Circle */}
          <div
            class="flex flex-col items-center justify-center gap-2 text-n-0
              bg-red-500/80 w-80 h-80 rounded-full p-6
              text-n-50"
          >
            <p class="sub-title text-n-50">{highlightItem.title}</p>
            {/* Caption - Sub title */}
            {highlightItem.caption && (
              <p class="block font-medium text-lg">{highlightItem.caption}</p>
            )}
          </div>

          {/* Tick Mark */}
          <div class="absolute w-18 h-18 rounded-full bg-n-950 flex items-center justify-center -bottom-2">
            <img src="/images/tick.svg" alt="tick-mark" class="size-9" />
          </div>
        </div>
      ))
    }
  </div>

  <!-- Blue ribbon (image) with centered text -->
  <div
    class="-mt-28 bg-[url('/images/blue-rec-bg.png')] bg-center bg-no-repeat bg-[length:100%_100%]
      flex flex-col justify-center items-center text-cetner gap-12 relative
      w-[96%] py-20 px-8 ml-[2%]
      lg:w-[70%] lg:ml-[15%] xl:gap-6"
  >
    <!-- Title -->
    <p class="sub-title text-n-50 leading-10 text-center
      xl:leading-12">
      {sectionContent.highlight_section.title}
    </p>
    <!-- Sub Title -->
    <p class="text-n-50 text-xl font-medium text-center">
      {sectionContent.highlight_section.sub_title}
    </p>
  </div>
</section>
