---
/** Data for "How It Works" */
const sectionContent = {
  title: "How It Works",
  boxItemList: [
    {
      icon: "/images/resume-logo.svg",
      alt: "Resume",
      text: "Register and lock your seat at select Reliance Digital centers",
    },
    {
      icon: "/images/ticket-logo.svg",
      alt: "Ticket",
      text: "Receive your ticket + Masterclass Confirmation Number by email",
    },
    {
      icon: "/images/coupon-logo.svg",
      alt: "Coupon",
      text: "Receive two Reliance Digital Referral Discount codes by email",
      subText: "(terms and validity included)",
    },
    {
      icon: "/images/certificate-logo.svg",
      alt: "Certificate",
      text: "Attend, build with Microsoft Copilot, and get certified",
    },
  ],
};
---

<section class="container mx-auto px-4 py-16 sm:px-10">
  <div class="flex flex-col justify-center gap-9 items-center xl:gap-12">
    <!-- Section Title Header -->
    <h2
      class="section-title"
      data-sal="slide-up"
      data-sal-delay="200"
      data-sal-duration="300"
    >
      {sectionContent.title}
    </h2>

    <!-- Box Item list -->
    <div class="flex flex-col gap-4 w-full md:flex-row md:flex-wrap lg:flex-nowrap">
      {
        sectionContent.boxItemList.map((boxItem) => (
          <div
            class="flex flex-col gap-6 items-center justify-center w-full border-2 border-n-800 px-12 py-16 
            md:flex-1 md:py-12 md:px-10 md:min-w-[48%] md:max-w-[49%]
            lg:min-w-[23%] lg:max-w-[25%]
            transition-shadow duration-300 hover:shadow-lg"
            data-sal="slide-up"
            data-sal-duration="400"
            data-sal-easing="ease-out-back"
          >
            {/* Icon */}
            <img src={boxItem.icon} alt={boxItem.alt} class="h-14 w-auto" />
            <div class="w-full sm:w-2/3 md:w-3/4 lg:w-full">
              {/* Main Text */}
              <p class="para-text">
                {boxItem.text}
              </p>
              {/* Subtext optional */}
              {boxItem.subText && (
                <p class="text-center text-n-700 text-xl font-medium leading-snug pt-2 md:pt-4">
                  {boxItem.subText}
                </p>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
