---
// COMPONENTS //
import { Image } from "astro:assets";

// SVG's //
import galaxyAiLogoDark from "../../assets/galaxy-ai-logo-dark.svg";
import galaxyAiLogoLight from "../../assets/galaxy-ai-logo-light.svg";

const sectionContent = {
  contact_number: "+91-93250-99635",
  email: "support@reliancedigitalcommunity.com",
  title: "Galaxy AI Navigator Labs",
  description:
    "A collaboration between Samsung and Reliance Digital to pioneer AI literacy in India.",
  year: new Date().getFullYear(),
  facebook_url: "https://m.facebook.com/reliancedigital/",
  x_url: "https://x.com/RelianceDigital",
  insta_url:
    "https://www.instagram.com/reliance_digital?igsh=MTdncmp6MTJiNmJzYw==",
};
---

<footer class="bg-n-50 pt-12 xl:pt-24">
  <div class="container mx-auto py-12 px-8 lg:py-2">
    <div class="flex flex-col gap-16 items-start md:gap-13 lg:gap-10">
      <!-- Top Info -->
      <div class="flex w-full flex-col items-centre gap-2 text-left lg:px-8">
        <p
          class="text-n-950 text-xl leading-tight font-semibold sm:text-3xl lg:text-2xl"
        >
          {sectionContent.title}
        </p>
        <p class="primary-font text-base font-normal text-n-900">
          {sectionContent.description}
        </p>
      </div>

      <div
        class="flex flex-col gap-16 w-full md:gap-13 lg:flex-row lg:justify-between lg:w-full lg:px-8 lg:items-end"
      >
        <!-- Support -->
        <div class="flex flex-col gap-5 items-start">
          <h3 class="sub-title md:text-2xl lg:text-2xl">For Support</h3>

          <div class="flex flex-col gap-2">
            <!-- Call -->
            <p class="text-left">
              <span class="para-text text-lg md:text-base lg:text-xl">
                Call:
              </span>
              <a
                href={`tel:${sectionContent.contact_number}`}
                class="para-text text-lg md:text-base lg:text-xl text-blue-600 hover:underline lg:ml-2"
              >
                {sectionContent.contact_number}
              </a>
            </p>
            <!-- Email -->
            <p class="text-left">
              <span class="para-text text-lg md:text-base lg:text-xl">
                Email:
              </span>
              <a
                href={`mailto:${sectionContent.email}`}
                class="para-text break-all text-lg md:text-base lg:text-xl text-blue-600 hover:underline lg:ml-2"
              >
                {sectionContent.email}
              </a>
            </p>
          </div>
        </div>

        <!-- Certification Partner -->
        <div
          class="flex flex-col items-center gap-5 md:w-full lg:w-auto lg:self-end lg:items-start lg:pb-1"
        >
          <div class="relative flex">
            <Image
              src={galaxyAiLogoLight}
              alt="Galaxy AI"
              width={212}
              height={44}
              class="show-in-light hide-in-dark w-[170px] h-auto md:w-[240px]"
            />
            <Image
              src={galaxyAiLogoDark}
              alt="Galaxy AI"
              width={212}
              height={44}
              class="hide-in-light show-in-dark w-[170px] h-auto md:w-[240px]"
            />
          </div>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div class="flex flex-col w-full gap-2 items-center lg:gap-0 lg:px-8">
        <!-- A divider -->
        <hr class="w-4/5 text-n-300 lg:w-full" />

        <div
          class="flex flex-col gap-2 items-center lg:py-6 lg:w-full lg:justify-between lg:flex-row"
        >
          <!-- Copyright Text -->
          <p
            class="order-2 pt-3 text-center text-base text-n-700 lg:order-none lg:pt-0"
          >
            Copyright © {sectionContent.year}. All Rights Reserved.
          </p>

          <div
            class="order-1 flex flex-col items-center gap-5 lg:order-none lg:flex-row-reverse lg:items-center lg:gap-4"
          >
            <!-- Socials: square buttons using n tokens -->
            <div class="flex items-center gap-7 py-6 lg:gap-3 lg:py-0">
              <!-- Facebook -->
              <a
                href={sectionContent.facebook_url}
                target="_blank"
                aria-label="Facebook"
                class="w-10 lg:w-6 transition-transform duration-200 hover:scale-110"
              >
                <img
                  src="/icons/facebook.svg"
                  class="pointer-events-none experience-card-icon w-full"
                />
              </a>

              <!-- Twitter -->
              <a
                href={sectionContent.x_url}
                target="_blank"
                aria-label="X"
                class="w-10 lg:w-6 transition-transform duration-200 hover:scale-110"
              >
                <img
                  src="/icons/x.svg"
                  class="pointer-events-none experience-card-icon w-full"
                />
              </a>

              <!-- Instagram -->
              <a
                href={sectionContent.insta_url}
                target="_blank"
                aria-label="Insta"
                class="w-10 lg:w-6 transition-transform duration-200 hover:scale-110"
              >
                <img
                  src="/icons/insta.svg"
                  class="pointer-events-none experience-card-icon w-full"
                />
              </a>
            </div>

            <!-- Privacy & Terms -->
            <nav
              aria-label="Footer links"
              class="flex items-center text-sm text-n-950"
            >
              <a
                href="https://www.reliancedigital.in/c/privacy-policy"
                target="_blank"
                class="hover:underline">Privacy Policy</a
              >
              <span class="mx-px text-n-400">|</span>
              <a
                href="https://www.reliancedigital.in/c/terms-of-use"
                target="_blank"
                class="hover:underline">Terms &amp; Conditions</a
              >
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
